@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 227, 227, 227;
  --background-end-rgb: 197, 197, 197;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.color-test {
  color: rgb(227, 227, 227);
  color: rgb(197, 197, 197);
}
/* const handleAddItem = async () => {
  if (!newItem.trim()) {
    return;
  }
  await addDoc(collection(db, 'pantryItems'), {
    name: newItem.trim(),
    counter: 1,
  });
  setNewItem('');
  fetchItems();
}; */